* {
  margin: 0px;
  padding: 0px;
}
/* ---------- header ------- */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient( to right,
    rgba(119, 32, 32, 0.356),
    rgba(54, 4, 94, 0.336)
  ), url('../image/banner.png');
  background-position: center;
  background-size: cover;
  position: relative;

}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}
nav img{
  width: 150px;
  
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  /* position: relative; */
}.nav-links ul li a{
 color: white;
 text-decoration: none;
 font-size: 13px;
 font-family: 'Poppins', sans-serif;
}
.nav-links ul li::after{
  content: "";
  height: 3px;
  width: 0%;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.7s;

}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 19px;
  color: white;

}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 2px solid rgb(13, 55, 168);
  background: rgb(13, 55, 168);
  transition: 1s;
}
nav .fa{
  display: none;
}




/* ---------- course ------- */

 .course{ 
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
  /* position: absolute; */
} 
 h1{
   font-size: 36px;
   font-weight: 600;
   
 }
 p{
   color: #770;
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
   padding: 10px;
 }
 .row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;

 }
 .course-col{
   flex-basis: 31%;
   background: wheat;
   border-radius: 20px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
transition: 0.5s;

 }
 .course-col:hover{
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
   
 }
 h3{
   text-align: center;
   font-weight: 600;
   margin: 10px 0;
 }

 /* -------- champus section --------- */

 .campus{
   width: 80%;
   margin: auto;
   text-align: center;
   padding: 50px;
 }
 .campus-col{
   flex-basis: 30%;
   border-radius: 30px;
   margin-bottom: 30px;
   position: relative;
   overflow: hidden;
   
 }
 .campus-col img{
   width: 100%;
   display: block;

 }
 .layer{
  background: transparent;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.5s;
 }
 .layer:hover{
  background: rgba(209, 45, 45, 0.466);

 }
 .layer h3{
   width: 100%;
   font-weight: 500;
   color: #fff;
   font-size: 26px;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   opacity: 0;
   transition: 0.5s;
 }
 .layer:hover h3{
   bottom: 49%;
   opacity: 1;
 }

 /*------------- facilities ---------*/
 .facilities{
   width: 100%;
   text-align: center;
   margin: auto;
   padding-top: 100px;
 }
 .facilities-col{
   flex-basis: 31%;
   border-radius: 10px;
   margin-bottom: 5%;
   text-align: left;
 }
 .facilities-col img{
   width: 100%;
   border-radius: 25px;
 }
 .facilities-col p{
   padding: 0;
 }
 .facilities-col h3{
   margin-top: 16px;
   margin-bottom: 15px;
   text-align: left;
 }

 /* --------- testimonials ------- */

 .testimonials{
   width: 80%;
   padding-top: 100px;
   text-align: center;
   margin: auto;
 }
 .testimonials-col{
   flex-basis: 44%;
   border-radius: 25px;
   margin-bottom: 5%;
   text-align: left;
   background: #fff3f3;
   padding: 25px;
   cursor: pointer;
   display: flex;
 }
 .testimonials-col img{
   height: 40px;
   margin-left: 10px;
   margin-right: 30px;
   border-radius: 50%;

 }
 .testimonials-col p{
   padding: 0;
 }
 .testimonials-col h3{
   margin-top: 20px;
   text-align: left;
 }
 .testimonials-col .fa{
   color: rgb(46, 110, 110) ;
 }

 /* CAll to Action */
  .cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../image/banner2.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 100px 0;

  }
 .cta h1{
   color: white;
   margin-bottom: 40px;
   padding: 0;
 }

 /* -------- footer ------- */
  .footer{
    width: 100%;
    text-align: center;
    padding: 100px 0;
  }
  .footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

  }
  .icons .fa{
    color: #f44336;
    cursor: pointer;
    margin: 0 15px;
    padding: 18px 0;

  }
   .fa-heart{
     color: red; 
     margin: 10px;
   }


 /* media query */

  @media(max-width:700px){
    /* header section medai query */
    .text-box h1{
      font-size: 24px;
      }
      .nav-links ul li{
        display: block;
      }
      .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

      }
      nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
      }
      .nav-links ul{
        padding: 30px;

      }

      /* course section  media query  */

      .row{
        flex-direction: column;
      }

      /* testimonials section media query */

      .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
      }
      /* call to action media query */

      .cta h1{
        font-size: 24px;
      }



  }